* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  html {
    font-size: 24px;
    font-family: 'Unica One', cursive;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem 0;
  }
  
  .calculator {
    display: grid;
    grid-template-rows: 180px 1fr;
    width: 400px;
    min-width: 300px; /* Shrinks on lesser resolution */
    box-sizing: border-box;
    padding: 20px;
    background: grey;
    border-radius: 20px;
    color: white
  }

  #app h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin-bottom: 8px;
  }
  
  .display {
      display: grid;
      grid-row-start: 1;
      background-color: violet;
      box-shadow: inset 1px 1px 1px 1px black;
  }

  .controls {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 20% 20% 20% 20% 20%;
      background-color: grey;
  }

  .clear-entry{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .digits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-gap: 10px;
    padding: 10px;
  }
  .memory{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-gap: 10px;
    padding: 10px;
  }

  .operations {
    display: grid;
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  button {
    font-size: 35px;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: 5px 10px;
  }

  .add{
    border-radius: 3px;
    background-color:orange;
  }
  .subtract{
      border-radius: 3px;
      background-color:orange;
  }
  .multiply{
    border-radius: 3px;
    background-color:orange;
  }
  .divide{
    border-radius: 3px;
    background-color:orange;
  }
  .equals{
    border-radius: 3px;
    background-color:red;
  }
  .clear-all{
    border-radius: 3px;
    background-color:yellow;
  }
  .clear-entry{
    border-radius: 3px;
    background-color:yellow;
  }

